{% extends "base.html" %}
{% block title %}Fail{% endblock %}
{% block header %}
<h2>Payment Failed</h2>
{% endblock %}
{% block content %}
<div class=" d-flex justify-content-center align-items-center" style="height: 450px ;">
    <div>
        <h3>{{ message }}</h3><br>
        <p style="text-align:center;">Please check your token or amount then retry. If issue still exist,
        contact your admin!</p><br>
        <p style="text-align:center;">
            <a class="btn btn-primary btn-sm" href="/"><i class="fa fa-search" aria- hidden="true"></i>Course Enrollment Failed</a>
        </p>
    </div>
</div>

{% endblock %}